.header {
    display: flex;
}
.headerLogo {
    width: 31vmin;
    height: 15vmin;
}
.headerDiv {
    margin: 0 auto;
}
.headerText {
    flex-grow: 1;
}

.headerWelcome {
    font-size: 6vw;
}

.headerLogin {
    margin: 0.5vw;
    right: 0;
    display: block;
    width: 10%;
}