.header {
    display: flex;
}
.headerLogo {
    width: 31vmin;
    height: 15vmin;
}
.headerDiv {
    margin: 0 auto;
}
.headerText {
    flex-grow: 1;
}

.headerWelcome {
    font-size: 4vw;
    flex-grow: 1;
}